<settings>
	<category label="Announcements">
		<setting id="announce" type="bool" label="Enable Announcement PopUps" default="true"/>
<setting id="anno_int" type="number" label="Announcement Interval (Days)" default="1" enable="!eq(-1,false)"/>
<setting id="pop_time" type="text" label="Last Announcement Shown " default="2000-01-01 00:00:00" visible="true"enable="!eq(-2,false)"/>	</category>

	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"/>
		<setting id="movies-view" type="number" label="Movie View" default="515" enable="!eq(-1,false)"/>
		<setting id="tvshows-view" type="number" label="TV Show View" default="503" enable="!eq(-2,false)"/>
		<setting id="seasons-view" type="number" label="Seasons View" default="504" enable="!eq(-3,false)"/>	
		<setting id="episodes-view" type="number" label="Episode View" default="504" enable="!eq(-4,false)"/>
		<setting id="default-view" type="number" label="Default View" default="50" enable="!eq(-5,false)"/>
   	</category>

<category label="Downloads">>
<setting id="download_folder" type="folder" label="Downloads Folder" default="" />
</category>




<category label="Enable / Disable Sections">

<setting id="adult" type="bool" label="Adult Section" default="false"/>

<setting id="resolver" type="bool" label="Resolver Settings" default="true"/>

<setting id="toons" type="bool" label="Cartoons" default="true"/>

<setting id="sports" type="bool" label="Sports" default="true"/>

<setting id="streams" type="bool" label="Live Streams" default="true"/>

<setting id="addons" type="bool" label="Other Addons" default="true"/>

<setting id="special" type="bool" label="Special Menus" default="true"/>



<setting id="metadata" type="bool" label="Tv Show Episode MetaData" default="true"/>

</category>

</settings>



